* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

html, body, #root {
  width: 100%;
  height: 100%;
  background: black;
}

/* Navbar Styling */
nav {
  height: 150px;
  display: flex;
  flex-direction: column;
}

.placeholder {
  width: 72.5px;
}

.nav-row-2 > div > .nav-link {
  font-family: 'Work sans', sans-serif;
  font-size: 16px;
  font-weight: 800;
}

.nav-row-1 * i, .nav-row-2 > div > .nav-link {
  opacity: 1;
  transition: opacity 0.15s ease-in-out;
  text-decoration: none;
}

.nav-row-1 * i:hover, .nav-row-2 > div > .nav-link:hover {
  opacity: .7;
}

.nav-row-1 {
  background: black;
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 15px;
  border-bottom: 1px solid gold;
}

.nav-icons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav-icons * {
  font-size: 20px;
  color: white;
  padding: 5px;
}

.logo {
  margin-top: 5px;
  height: 60px;
}

.nav-row-2 {
  display: flex;
  flex: 1;
  justify-content: center;
  background: black;
  padding-top: 18px;
  padding-bottom: 18px;
}

.nav-row-2 > div {
  display: flex;
  justify-content: space-around;
  align-items: end;
  width: 50%;
}

/* Home Styling */
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 200px;
  padding-top: 130px;
  background: black;
  width: 100%;
}

.home-flex {
  display: flex;
  gap: 15vw;
}

.home-flex > img {
  width: 35vw;
  height: 100%;
}

.home-flex > div {
  width: 25vw;
}

.home-flex h1 {
  font-family: Lato, sans-serif;
  font-size: 56px;
  margin-top: 45px;
  margin-bottom: 45px;
}

.home-flex h2 {
  margin-top: 15px;
  margin-bottom: 35px;
  font-size: 16px;
  font-weight: 100;
  font-family: Inter;
  line-height: 1.35;
}

.home-link {
  font-family: Roboto, sans-serif;
  font-weight: 800;
  text-decoration: none;
  border-bottom: 1px solid white;
  transition: all 0.25s ease-in-out;
}

.home-link:hover {
  border-bottom: 1px solid gold;
}

.home-card:last-child {
  margin-bottom: 200px;
}

/* Rolex Page Styling */
.rolex-page {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-left: 92.5px;
  padding-right: 92.5px;
}

.rolex-card {
  height: 35vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rolex-card img{
  width: 18vw;
  margin-bottom: 35px;
}

.product-name {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
}

.product-price {
  margin-top: 10px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
}
