* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

/* Navbar Styling */
nav {
  height: 120px;
  display: flex;
  flex-direction: column;
}
.nav-row-1 * i, .nav-row-2 > * {
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
}

.nav-row-1 * i:hover, .nav-row-2 > *:hover {
  opacity: .7;
}

.nav-row-1 {
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding-left: 40px;
  padding-right: 40px;
}

.nav-icons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav-icons * {
  font-size: 20px;
  color: black;
  padding: 5px;
}

.logo {
  margin-top: 5px;
  height: 60px;
}

.nav-row-2 {
  background: black;
  display: flex;
  justify-content: center;
  align-items: end;
  padding-top: 18px;
  padding-bottom: 18px;
  gap: 5vw;
  flex: 1;
}

.nav-row-2 div {
  font-family: 'Work sans', sans-serif;
  font-size: 16px;
  font-weight: 800;
}